@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/* .has-focus {
  border-radius: 2px;
  box-shadow: 0 0 0 1px #bfe7f8;
  padding: 0.8rem 0rem 0.8rem 0.8rem;
} */

.ProseMirror {
  border: 0;
  height: auto;
  min-height: 100%;
  padding: 1rem;
  font-family: 'Roboto', sans-serif;
}

.ProseMirror:focus {
  outline: none;
}

.ProseMirror p {
  color: #718f9d;
  font-size: 1rem;
}

.ProseMirror h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  color: #2e3c43;
}

/* Start Heading */
.ProseMirror h1 {
  font-size: 6rem;
  margin: 1rem 0;
}

.ProseMirror h2 {
  font-size: 5rem;
  margin: 1rem 0;
}

.ProseMirror h3 {
  font-size: 4rem;
  margin: 0.5rem 0;
}

.ProseMirror h4 {
  font-size: 3rem;
  margin: 0.5rem 0;
}

.ProseMirror h5 {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.ProseMirror h6 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

/* End Heading */
.ProseMirror img {
  max-width: 100%;
  height: auto;
  margin: 1rem 0;
  border-radius: 0.4rem;
  box-shadow: 14px 5px 43px -2px rgba(0, 0, 0, 0.15);
}

.ProseMirror blockquote {
  padding-left: 1rem;
  margin-left: 1rem;
  background-color: #cfecfc;
  border-left: 6px solid #277396;
  border-radius: 2px;
  color: #06486d;
}

.ProseMirror blockquote p {
  display: inline;
}

.ProseMirror pre {
  background-color: #111933;
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 14px 5px 43px -2px rgba(0, 0, 0, 0.15);
}
.ProseMirror pre code {
  background-color: transparent;
}

.ProseMirror code {
  background-color: #3f525b;
  border-radius: 0.25em;
  color: #a6b9c2;
  font-size: 0.9rem;
  padding: 0.25em;
}

.ProseMirror p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: right;
  color: #ced4da;
  pointer-events: none;
  height: 0;
}

.ProseMirror ol,
ul {
  padding-left: 1.5rem !important;
  color: #718f9d;
}
