node_modules

# old workflow for deploying on google app engine  
.github/workflows/deploy-to-ebs.yml
.github/workflows/ifra.yml

# Elastic Beanstalk Files
.elasticbeanstalk
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# assets
assets/social
assets/screen-shots

# Do Experiments
infra/for-testing.ts
infra/for-testing-ecr.ts

# Docker volumes
data

# env varaibles
app/.env.local