{
  "semi": false,
  "trailingComma": "all",
  "tabWidth": 2,
  "singleQuote": true,
  "printWidth": 100,
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "proseWrap": "never",
  "endOfLine": "lf"
}